.todo {
  max-width: max-content;
  margin: 0 auto;
  margin-top: 20px;
}
.button {
  background-color: orange;
  padding: 7px 15px;
  font-size: 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
